/*Dit is de opmaak van alle body's die er zijn, behalve diegene die ik met een class heb bewerkt.*/
body { 
  background-image: url("gradient_bg.png");
  background-repeat: repeat-x; 
    text-align: left;
    color: black
  }


/*Dit is een deel van het horizontale menu. */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black
}



/*Dit zorgt ervoor dat het horizontale menu zoveel mogelijk aan de linkerkant word geplaatst.*/
li {
  float: left;
}



/*Dit is opmaak van het horizontale menu, inclusief de opmaak van de tekst die in het horizontale menu staat.*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 84px;
  text-decoration: none;
}


/*Nog meer opmaak van het horizontale menu, deze code is voor wanneer je met je muis eroverheen gaat.*/
li a:hover {
  background-color: white;
  color: black;
}

/*De opmaak van de koppen.*/
h1 {text-align: center;
color: black}
h2 {color: black;
text-align: center;
text-decoration-line: underline;}



/*De positionering en omvang van de plaatjes.*/
img {float: right;
size: 60px;}


/*Dit zorgt ervoor dat niet alle tekst naast elkaar komt te staan, maar dat je ook naar beneden kan gaan.*/
span {
  display: block;
}




/* Zorgt voor de drie kolommen.*/
.column {
  float: left;
  padding: 10px;
}

/* Positionering van de kolommen aan de buitenkant.*/
.column.side {
  width: 25%;
}

/* Positionering van de middelste kolom*/
.column.middle {
  width: 45%;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.binairstelselopmaak {
width: 60%;
text-align: left;
}

iframe {float: center;
}
