body {
  margin: 0;
    background-color: lightgreen;
    text-align: left;
    color: black
  }
h1 {
color: black;
text-align:center;
}
h2 { 
color: black;
text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 12%;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: black;
  color: white;
}

li a:hover:not(.active) {
  background-color: white;
  color: black;
}
img {float: right;}

p {text-align: center;}